.c-comment-card {
  @include lf-spacing-vertical(var(--spacing-tight));
  display: flex;
  flex-flow: column;
  align-items: center;
  box-sizing: border-box;
  margin: 0 auto;
  margin-bottom: var(--spacing-loose);
  padding: 0 var(--gutter-width);
  max-width: var(--page-content-width);
}