.c-enquiry-form {
	@include lf-padded-container;
	@include lf-spacing-vertical(var(--spacing-regular));
	@include af-clipboard;

	&__grouped-section {
		@include lf-spacing-vertical(var(--spacing-tight));
	}

	&__heading {
		@include tf-heading(var(--col-t1-sec));
	}

	&__subheading {
		@include tf-subheading(var(--col-t1-sec));
	}

	&__input-field {
		@extend %discreet-input;
		@include tf-body(var(--col-t2-sec));
		box-sizing: border-box;
		border: 0.0625rem solid var(--col-t4-sec);
		padding: 1rem;
		width: 100%;
		height: 3rem;

		&--large {
			height: 9rem;
			resize: none;
		}

		&::placeholder {
			@include tf-body(var(--col-t4-sec));
		}


	}

	&__submit-button {
		@extend %discreet-button;
		@include tf-subheading(var(--col-t1-pri));
		cursor: pointer;
		width: 100%;
		height: 3rem;
		background-color: var(--col-accent);
	}
}