.c-page-footer {
	flex-shrink: 0;
	box-sizing: border-box;
	padding: 1.5rem 1rem;
	width: 100%;
	background-color: var(--col-bg-ter);
	color: var(--col-t1-ter);
	text-align: center;

	&__content {
		@include lf-spacing-vertical(var(--spacing-regular));
		margin: 0 auto;
		max-width: var(--page-content-width);
	}

	&__seperator {
		@include seperator(var(--col-t1-ter));
	}

	&__social-icons-list {
		@include lf-spacing-horizontal(1rem);
	}

	&__social-icon {
		@extend %discreet-link;
	}

	&__logo {
		height: 6.5rem;
	}
}