.c-gallery {
	display: flex;
	flex-flow: column;
	align-items: center;

	&__throbber-container {
    margin: var(--spacing-loose) auto;
		padding: 1rem;
		border-radius: 100%;
		background-color: var(--col-bg-sec);
		
		.o-throbber {
			margin: 0;
		}
	}

	&__failed-message {
		margin: var(--spacing-loose) auto;
		padding: var(--gutter-width);
    background-color: var(--col-bg-sec);
	}
}

.c-gallery-card {
	background-color: var(--col-bg-sec);
	// Force 4:3 aspect ratio
	width: 100%;
	padding-top: 75%;
	position: relative;

	&__image {
		padding: var(--gutter-width);
    // For aspect ratio
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		box-sizing: border-box;
	}
}