.c-menu {
	@include lf-padded-container;
	@include lf-spacing-vertical(var(--spacing-loose));
	@include af-clipboard;

	&__section {
		@include lf-spacing-vertical(var(--spacing-regular));
	}

	&__section-header {
		@include tf-heading(var(--col-t1-sec));
		display: flex;
	}

	&__section-name {

	}

	&__section-price {
		margin-left: auto;
	}

	&__section-dishes {
		@include lf-spacing-vertical(var(--spacing-regular));
	}

	&__dish {
		@include lf-spacing-vertical(var(--spacing-tight));
	}

	&__dish-name {
		@include tf-subheading(var(--col-t1-sec));
	}

	&__dish-description {
		@include tf-body(var(--col-t2-sec));
	}

	&__dish-dietary {
		@include tf-caption(var(--col-t3-sec));
	}

	&__footnote {
		@include tf-caption(var(--col-t3-sec));
		text-align: center;
	}

	&__seperator {
		@include seperator(var(--col-t2-sec));
	}
}