.c-noticeboard-card {
  padding: var(--spacing-loose) var(--gutter-width) var(--spacing-regular) var(--gutter-width);
  background-color: var(--col-bg-sec);

  &__header {
    @include lf-spacing-vertical(var(--spacing-loose));
    margin-bottom: var(--spacing-loose);
  }

  &__body {
    @include lf-spacing-vertical(var(--spacing-tight));
    margin-bottom: var(--spacing-regular);
  }

  &__page-link {
    @extend %discreet-link;
    display: inline-block;
    width: 100%;
    color: var(--col-accent);
  }

  &__image {
    width: 100%;
  }
}

.c-noticeboard-event-card {
  display: grid;
  gap: var(--gutter-width);
  padding: var(--gutter-width);
  background-color: var(--col-bg-sec);

  &__image-wrapper {
    background-color: black;
    // Force 1:1 aspect ratio
    width: 100%;
    padding-top: 100%;
    position: relative;
  }

  &__image {
    // For aspect ratio
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    object-fit: cover;
  }

  &__information {
    @include lf-spacing-vertical(var(--spacing-regular));
  }

  &__heading {
    // Line clamping, ie truncating long text with elipsis
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2;
  }

  &__description {
    // Line clamping, ie truncating long text with elipsis
    @include line-clamp(3, 36, 960, 636);
      -webkit-line-clamp: 6;
  }

  &__facebook-link {
    @extend %discreet-link;
    display: inline-block;
    width: 100%;
    color: var(--col-accent);
  }
}

.c-noticeboard-gallery-card {
	background-color: var(--col-bg-sec);
	// Force 4:3 aspect ratio
	width: 100%;
	padding-top: 75%;
	position: relative;

	&__image {
		padding: var(--gutter-width);
    // For aspect ratio
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		box-sizing: border-box;
	}
}