/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  margin: 0;
}

.c-noticeboard-event-card__facebook-link, .c-noticeboard-card__page-link, .c-event-card__facebook-link, .c-navigation__link, .c-page-footer__social-link, .o-caption--link, .o-subheading--link, .o-heading--link {
  color: inherit;
  text-decoration: none;
}

.c-navigation__icon--button, .c-page-banner__button, .c-page-header__button, .o-button, .o-square-button {
  box-sizing: content-box;
  outline: none;
  margin: 0;
  border: none;
  padding: 0;
  background: none;
  color: inherit;
  font-size: inherit;
}

.c-form-control__input, .c-form-control__text-area {
  border: 0;
}

:root {
  --col-bg-pri: #343240;
  --col-t1-pri: white;
  --col-t2-pri: rgba(255, 255, 255, 0.87);
  --col-t3-pri: rgba(255, 255, 255, 0.6);
  --col-t4-pri: rgba(255, 255, 255, 0.38);
  --col-bg-sec: #FFFFFF;
  --col-t1-sec: black;
  --col-t2-sec: rgba(0, 0, 0, 0.87);
  --col-t3-sec: rgba(0, 0, 0, 0.6);
  --col-t4-sec: rgba(0, 0, 0, 0.38);
  --col-bg-ter: #000000;
  --col-t1-ter: white;
  --col-t2-ter: rgba(255, 255, 255, 0.87);
  --col-t3-ter: rgba(255, 255, 255, 0.6);
  --col-t4-ter: rgba(255, 255, 255, 0.38);
  --col-accent: #3987B3;
  --col-warning: #D96704;
  --page-content-width: 60rem;
  --spacing-loose: 3rem;
  --spacing-regular: 1.5rem;
  --spacing-tight: 0.5rem;
  --gutter-width: 1rem;
}
@media only screen and (min-width: 600px) {
  :root {
    --gutter-width: 1.5rem;
  }
}
@media only screen and (min-width: 1200px) {
  :root {
    --gutter-width: 2rem;
  }
}

html, body {
  width: 100%;
  height: 100%;
}

html {
  background-color: var(--col-bg-pri);
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  overflow-wrap: break-word;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
html.u-accessibility-mode {
  font-size: 24px;
}

.c-pagewrap {
  width: 100%;
  overflow-x: hidden;
}

.material-icons {
  font-size: 1.5rem;
}

.l-flex {
  display: flex;
}
.l-flex--centered {
  align-items: center;
}

.l-flex__item--center {
  margin: 0 auto;
}
.l-flex__item--right {
  margin-left: auto;
}

.l-spacing-vertical > * {
  margin-bottom: var(--gutter-width);
}
.l-spacing-vertical > *:last-child {
  margin-bottom: 0;
}
.l-spacing-vertical--loose > * {
  margin-bottom: var(--spacing-loose);
}
.l-spacing-vertical--loose > *:last-child {
  margin-bottom: 0;
}
.l-spacing-vertical--regular > * {
  margin-bottom: var(--spacing-regular);
}
.l-spacing-vertical--regular > *:last-child {
  margin-bottom: 0;
}
.l-spacing-vertical--tight > * {
  margin-bottom: var(--spacing-tight);
}
.l-spacing-vertical--tight > *:last-child {
  margin-bottom: 0;
}

.l-spacing-horizontal > * {
  margin-right: var(--gutter-width);
}
.l-spacing-horizontal > *:last-child {
  margin-right: 0;
}
.l-spacing-horizontal--loose > * {
  margin-right: var(--spacing-loose);
}
.l-spacing-horizontal--loose > *:last-child {
  margin-right: 0;
}
.l-spacing-horizontal--regular > * {
  margin-right: var(--spacing-regular);
}
.l-spacing-horizontal--regular > *:last-child {
  margin-right: 0;
}
.l-spacing-horizontal--tight > * {
  margin-right: var(--spacing-tight);
}
.l-spacing-horizontal--tight > *:last-child {
  margin-right: 0;
}

.l-full-width {
  width: 100%;
}

.l-no-margin-top {
  margin-top: 0;
}

.o-heading {
  color: var(--col-t1-sec);
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5em;
  letter-spacing: 0.05em;
}
.o-heading--link:hover {
  text-decoration: underline;
}
.o-heading--alt {
  color: var(--col-t1-pri);
}
.o-heading--centered {
  text-align: center;
}

.o-subheading {
  color: var(--col-t1-sec);
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5em;
  letter-spacing: 0.05em;
}
.o-subheading--alt {
  color: var(--col-t1-pri);
}
.o-subheading--centered {
  text-align: center;
}

.o-body {
  color: var(--col-t2-sec);
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 0.05em;
}
.o-body--alt {
  color: var(--col-t2-pri);
}
.o-body--link {
  color: var(--col-accent);
  font-weight: 700;
}
.o-body--alt-link {
  color: var(--col-t1-pri);
  font-weight: 700;
}
.o-body--centered {
  text-align: center;
}
.o-body--bold {
  font-weight: 700;
}
.o-body--preformatted {
  white-space: pre-wrap;
}

.o-caption {
  color: var(--col-t3-sec);
  font-family: "Open Sans", sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 0.05em;
}
.o-caption--alt {
  color: var(--col-t3-pri);
}
.o-caption--link {
  color: var(--col-accent);
  font-weight: 700;
}
.o-caption--warning {
  font-weight: 700;
  color: white;
}
.o-caption--centered {
  text-align: center;
}

.o-footnote {
  color: var(--col-t3-sec);
  font-family: "Open Sans", sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 0.05em;
  text-align: center;
}

.o-link {
  color: var(--col-accent);
  font-family: "Open Sans", sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 0.05em;
  font-weight: 700;
}

.o-textbox {
  padding: 0 var(--gutter-width);
  width: calc(100% - (var(--gutter-width) * 2));
  max-width: 37rem;
  text-align: center;
}
.o-textbox > * {
  margin-top: var(--spacing-regular);
}
.o-textbox > *:first-child {
  margin-top: 0;
}
.o-textbox__heading {
  color: var(--col-t1-pri);
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5em;
  letter-spacing: 0.05em;
}
.o-textbox__subheading {
  color: var(--col-t1-pri);
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5em;
  letter-spacing: 0.05em;
}
.o-textbox__body {
  color: var(--col-t2-pri);
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 0.05em;
}
.o-textbox__body--link {
  color: var(--col-t1-pri);
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5em;
  letter-spacing: 0.05em;
  text-decoration: underline;
}
.o-textbox__caption {
  color: var(--col-t3-pri);
  font-family: "Open Sans", sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 0.05em;
}

.o-square-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  color: var(--col-t2-sec);
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5em;
  letter-spacing: 0.05em;
  cursor: pointer;
}
.o-square-button:hover {
  background-color: var(--col-accent);
  color: white;
}
.o-square-button--active {
  background-color: var(--col-accent);
  color: white;
}
.o-square-button--disabled {
  color: var(--col-t4-sec);
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5em;
  letter-spacing: 0.05em;
}
.o-square-button--disabled:hover {
  color: var(--col-t4-sec);
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5em;
  letter-spacing: 0.05em;
  background-color: white;
  cursor: default;
}
.o-square-button__icon--hidden {
  display: none;
}

.o-button {
  color: var(--col-t1-pri);
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5em;
  letter-spacing: 0.05em;
  box-sizing: border-box;
  cursor: pointer;
  width: 100%;
  height: 3rem;
  background-color: var(--col-accent);
}
.o-button--alt {
  color: var(--col-t1-sec);
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5em;
  letter-spacing: 0.05em;
  border: solid var(--col-accent) 0.25rem;
  background-color: var(--col-bg-sec);
}
.o-button--warning {
  background-color: var(--col-warning);
}
.o-button--warning-alt {
  color: var(--col-t1-sec);
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5em;
  letter-spacing: 0.05em;
  border: solid var(--col-warning) 0.25rem;
  background-color: var(--col-bg-sec);
}
.o-button--disabled {
  color: var(--col-t4-sec);
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5em;
  letter-spacing: 0.05em;
  border: solid var(--col-t4-sec) 0.25rem;
  background-color: white;
}
.o-button--disabled:hover {
  color: var(--col-t4-sec);
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5em;
  letter-spacing: 0.05em;
  border: solid var(--col-t4-sec) 0.25rem;
  background-color: white;
  cursor: default;
}
.o-button--fit-content {
  padding: 0 var(--gutter-width);
  width: auto;
}
.o-button--with-icon {
  display: flex;
}
.o-button--with-icon > * {
  margin-right: var(--spacing-regular);
}
.o-button--with-icon > *:last-child {
  margin-right: 0;
}

.o-button-container {
  display: flex;
}
.o-button-container > * {
  margin-right: var(--gutter-width);
}
.o-button-container > *:last-child {
  margin-right: 0;
}

.o-seperator {
  border: none;
  width: 100%;
  height: 0.0625rem;
  background-color: var(--col-t4-sec);
}
.o-seperator--alt {
  background-color: var(--col-t4-pri);
}
.o-seperator--bold {
  background-color: var(--col-t2-sec);
  height: 0.125rem;
}
.o-seperator--bold-alt {
  background-color: var(--col-t2-pri);
  height: 0.125rem;
}
.o-seperator--indented {
  margin-left: var(--gutter-width);
  margin-right: var(--gutter-width);
  width: calc(100% - 2 * var(--gutter-width));
}

.o-throbber {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  width: 3rem;
  height: 3rem;
  border: solid 0.25rem var(--col-t4-sec);
  border-top-color: var(--col-t1-sec);
  border-radius: 50%;
  animation: spinner 0.75s linear infinite;
}
.o-throbber--small {
  width: 1.5rem;
  height: 1.5rem;
}
.o-throbber--white {
  border-color: var(--col-t4-pri);
  border-top-color: var(--col-t1-pri);
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
.c-page-header {
  position: fixed;
  z-index: 100;
  top: 0;
  display: grid;
  grid-template-columns: 3.5rem auto 3.5rem;
  align-items: center;
  width: 100%;
  height: 3rem;
  border-bottom: solid 0.25rem white;
  background-color: var(--col-bg-pri);
  color: var(--col-t1-pri);
}
.c-page-header__button {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.c-page-header__logo {
  height: 1.5rem;
}

.c-page-banner {
  position: fixed;
  top: 3.25rem;
  z-index: 97;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding-left: 1rem;
  width: 100%;
  height: 2rem;
  background-color: var(--col-warning);
  white-space: nowrap;
}
.c-page-banner__text-container {
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
}
.c-page-banner__text {
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  display: inline-block;
  padding-right: var(--spacing-loose);
}
.c-page-banner__button {
  padding: 0 1rem;
  color: white;
  background-color: var(--col-warning);
  cursor: pointer;
}
.c-page-banner__button .material-icons {
  font-size: 1rem;
  line-height: 150%;
}

.c-page-content {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  margin: 3.25rem auto 0 auto;
  padding: 3rem 0;
  width: 100%;
  max-width: var(--page-content-width);
}
.c-page-content > * {
  margin-bottom: var(--spacing-loose);
}
.c-page-content > *:last-child {
  margin-bottom: 0;
}
.c-page-content__doodle {
  height: 8rem;
}

.c-page-footer {
  padding: var(--spacing-regular) var(--gutter-width);
  background-color: var(--col-bg-ter);
}
.c-page-footer__content {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 0 auto;
  max-width: var(--page-content-width);
}
.c-page-footer__content > * {
  margin-bottom: var(--spacing-regular);
}
.c-page-footer__content > *:last-child {
  margin-bottom: 0;
}
.c-page-footer__logo {
  height: 6.5rem;
}
.c-page-footer__social-navigation > * {
  margin-right: 1rem;
}
.c-page-footer__social-navigation > *:last-child {
  margin-right: 0;
}
.c-page-footer__social-icon {
  width: 3rem;
  height: 3rem;
}
@media only screen and (min-width: 600px) {
  .c-page-footer__seperator {
    margin-left: var(--gutter-width);
    margin-right: var(--gutter-width);
    width: calc(100% - 2 * var(--gutter-width));
  }
}

.c-page-fader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.63);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s ease-in-out;
}
.c-page-fader--active {
  opacity: 1;
  cursor: pointer;
  pointer-events: auto;
}

.c-content-container {
  padding: 4rem var(--gutter-width);
  width: calc(100% - (var(--gutter-width) * 2));
  width: calc(100% - 3rem);
}
@media only screen and (max-width: 60rem) {
  .c-content-container {
    width: calc(100% - 2 * var(--gutter-width));
  }
}
.c-content-container--clipboard {
  position: relative;
  border: solid 3rem #784629;
  border-radius: 3rem;
  border-image: url("../images/border_clipboard.svg") calc(100% / 3) stretch;
  background-color: var(--col-bg-sec);
}
.c-content-container--clipboard::before {
  content: "";
  display: block;
  background-image: url("../images/decoration_clip.svg");
  position: absolute;
  top: -4rem;
  left: 50%;
  width: 12rem;
  height: 6rem;
  transform: translateX(-50%);
}
.c-content-container--pinboard {
  border: solid 3rem #784629;
  border-radius: 3rem;
  border-image: url("../images/border_pinboard.svg") calc(100% / 3) stretch;
  background-image: url("../images/texture_pinboard.png");
  padding: 0;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.c-content-container__card {
  margin: var(--spacing-loose) auto;
  padding: var(--gutter-width);
  background-color: var(--col-bg-sec);
}
.c-content-container__card--throbber {
  border-radius: 100%;
  padding: 1rem;
}

.c-navigation {
  position: fixed;
  top: 0;
  left: calc(-100% + 3.25rem);
  z-index: 99;
  display: flex;
  flex-flow: column;
  border-right: solid 0.25rem var(--col-t1-pri);
  padding-top: 3.25rem;
  height: calc(100% - 3.25rem);
  width: calc(100% - 3.5rem);
  background-color: var(--col-bg-pri);
  transition: transform 0.25s ease-in-out;
}
@media only screen and (min-width: 600px) {
  .c-navigation {
    left: -16.25rem;
    width: 16rem;
  }
}
.c-navigation--open {
  transform: translateX(100%);
}
.c-navigation__link {
  color: var(--col-t1-sec);
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5em;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  border-bottom: solid 0.0625rem var(--col-t4-pri);
  border-right: solid 0 var(--col-t1-pri);
  padding: 0 1rem;
  height: 3rem;
  color: var(--col-t1-pri);
  transition: border-right 0.25s ease-in-out;
  color: var(--col-t2-pri);
}
.c-navigation__link > * {
  margin-right: 1rem;
}
.c-navigation__link > *:last-child {
  margin-right: 0;
}
.c-navigation__link--active {
  color: var(--col-t1-pri);
  border-right: solid 0.25rem var(--col-t1-pri);
}
.c-navigation__link:hover {
  color: var(--col-t1-pri);
  border-right: solid 0.25rem var(--col-t1-pri);
}
.c-navigation__icon--button {
  padding: 0.75rem 1rem;
  color: white;
  cursor: pointer;
}

.c-form-control > * {
  margin-bottom: var(--spacing-tight);
}
.c-form-control > *:last-child {
  margin-bottom: 0;
}
.c-form-control__name {
  color: var(--col-t1-sec);
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5em;
  letter-spacing: 0.05em;
  display: block;
}
.c-form-control__description {
  color: var(--col-t3-sec);
  font-family: "Open Sans", sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 0.05em;
}
.c-form-control__error {
  color: var(--col-warning);
  font-family: "Open Sans", sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 0.05em;
  font-weight: 700;
}
.c-form-control__text-area {
  color: var(--col-t2-sec);
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 0.05em;
  box-sizing: border-box;
  border: 0.0625rem solid var(--col-t4-sec);
  padding: 1rem;
  width: 100%;
  height: 9rem;
  resize: vertical;
}
.c-form-control__text-area:focus {
  border: 0.125rem solid var(--col-accent);
  outline: none;
}
.c-form-control__text-area.is-invalid {
  border: 0.125rem solid var(--col-warning);
}
.c-form-control__input {
  color: var(--col-t2-sec);
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 0.05em;
  display: block;
  box-sizing: border-box;
  border: 0.0625rem solid var(--col-t4-sec);
  padding: 1rem;
  padding: 1rem;
  width: 100%;
  height: 3rem;
}
.c-form-control__input::placeholder {
  color: var(--col-t4-sec);
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 0.05em;
}
.c-form-control__input:focus {
  border: 0.125rem solid var(--col-accent);
  outline: none;
}
.c-form-control__input.is-invalid {
  border: 0.125rem solid var(--col-warning);
}

.c-comment-card {
  display: flex;
  flex-flow: column;
  align-items: center;
  box-sizing: border-box;
  margin: 0 auto;
  margin-bottom: var(--spacing-loose);
  padding: 0 var(--gutter-width);
  max-width: var(--page-content-width);
}
.c-comment-card > * {
  margin-bottom: var(--spacing-tight);
}
.c-comment-card > *:last-child {
  margin-bottom: 0;
}

.c-map {
  background-color: var(--col-bg-sec);
  width: 100%;
  padding-top: 75%;
  position: relative;
}
@media only screen and (min-width: 600px) {
  .c-map {
    padding-top: 56.25%;
  }
}
.c-map__embedded-map {
  padding: var(--gutter-width);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
}

.c-landing-page {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin-top: 3.25rem;
  padding: 1rem;
  width: 100%;
  height: calc(100vh - 3.25rem);
  background-image: url("../images/peashoots.svg");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: right;
  background-origin: content-box;
}
.c-landing-page__content {
  box-sizing: border-box;
  padding: 0 var(--gutter-width);
  width: 37rem;
}
.c-landing-page__content > * {
  margin-bottom: var(--spacing-loose);
}
.c-landing-page__content > *:last-child {
  margin-bottom: 0;
}
.c-landing-page__logo {
  width: 100%;
}
.c-landing-page__message > * {
  margin-bottom: var(--spacing-tight);
}
.c-landing-page__message > *:last-child {
  margin-bottom: 0;
}

.c-menu-entry {
  min-width: 0%;
}
.c-menu-entry > * {
  margin-bottom: var(--spacing-tight);
}
.c-menu-entry > *:last-child {
  margin-bottom: 0;
}

.c-events {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.c-events__heading {
  background-color: white;
  padding: var(--gutter-width);
  display: block;
}
.c-events__throbber-container {
  margin: var(--spacing-loose) auto;
  padding: 1rem;
  border-radius: 100%;
  background-color: var(--col-bg-sec);
}
.c-events__throbber-container .o-throbber {
  margin: 0;
}
.c-events__failed-message {
  margin: var(--spacing-loose) auto;
  padding: var(--gutter-width);
  background-color: var(--col-bg-sec);
}

.c-event-card {
  display: grid;
  gap: var(--gutter-width);
  padding: var(--gutter-width);
  background-color: var(--col-bg-sec);
}
@media only screen and (min-width: 600px) {
  .c-event-card {
    grid-template-columns: 1fr 1fr;
  }
}
.c-event-card__image-wrapper {
  background-color: black;
  width: 100%;
}
.c-event-card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.c-event-card__information > * {
  margin-bottom: var(--spacing-regular);
}
.c-event-card__information > *:last-child {
  margin-bottom: 0;
}
.c-event-card__heading {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
}
.c-event-card__description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 3;
}
@media only screen and (min-width: 672px) {
  .c-event-card__description {
    -webkit-line-clamp: 4;
  }
}
@media only screen and (min-width: 708px) {
  .c-event-card__description {
    -webkit-line-clamp: 5;
  }
}
@media only screen and (min-width: 744px) {
  .c-event-card__description {
    -webkit-line-clamp: 6;
  }
}
@media only screen and (min-width: 780px) {
  .c-event-card__description {
    -webkit-line-clamp: 7;
  }
}
@media only screen and (min-width: 816px) {
  .c-event-card__description {
    -webkit-line-clamp: 8;
  }
}
@media only screen and (min-width: 852px) {
  .c-event-card__description {
    -webkit-line-clamp: 9;
  }
}
@media only screen and (min-width: 888px) {
  .c-event-card__description {
    -webkit-line-clamp: 10;
  }
}
@media only screen and (min-width: 924px) {
  .c-event-card__description {
    -webkit-line-clamp: 11;
  }
}
@media screen and (max-width: 600px) {
  .c-event-card__description {
    -webkit-line-clamp: 6;
  }
}
.c-event-card__facebook-link {
  display: inline-block;
  width: 100%;
  color: var(--col-accent);
}

.c-guestbook {
  background-color: var(--col-bg-sec);
  position: relative;
  margin-top: 85px;
}
.c-guestbook__border {
  position: absolute;
  top: -85px;
  left: 0;
  width: 100%;
  height: 96px;
}
.c-guestbook__border-holepunch {
  position: relative;
  z-index: 2;
  margin: 0 var(--gutter-width);
  width: calc(100% - (var(--gutter-width) * 2));
  height: 72px;
  background-image: url("../images/holepunch.svg");
  background-repeat: space;
}
.c-guestbook__border-paper {
  position: relative;
  top: -35px;
  width: 100%;
  height: 48px;
  background-color: var(--col-bg-sec);
}
.c-guestbook__border-spaced-dashed-bottom {
  position: relative;
  top: -35px;
  height: 2px;
  background-image: linear-gradient(to right, #d8d8d8 75%, rgba(255, 255, 255, 0) 0%);
  background-position: top;
  background-size: 24px 2px;
  background-repeat: repeat-x;
}

.c-gallery {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.c-gallery__throbber-container {
  margin: var(--spacing-loose) auto;
  padding: 1rem;
  border-radius: 100%;
  background-color: var(--col-bg-sec);
}
.c-gallery__throbber-container .o-throbber {
  margin: 0;
}
.c-gallery__failed-message {
  margin: var(--spacing-loose) auto;
  padding: var(--gutter-width);
  background-color: var(--col-bg-sec);
}

.c-gallery-card {
  background-color: var(--col-bg-sec);
  width: 100%;
  padding-top: 75%;
  position: relative;
}
.c-gallery-card__image {
  padding: var(--gutter-width);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
}

.c-noticeboard-card {
  padding: var(--spacing-loose) var(--gutter-width) var(--spacing-regular) var(--gutter-width);
  background-color: var(--col-bg-sec);
}
.c-noticeboard-card__header {
  margin-bottom: var(--spacing-loose);
}
.c-noticeboard-card__header > * {
  margin-bottom: var(--spacing-loose);
}
.c-noticeboard-card__header > *:last-child {
  margin-bottom: 0;
}
.c-noticeboard-card__body {
  margin-bottom: var(--spacing-regular);
}
.c-noticeboard-card__body > * {
  margin-bottom: var(--spacing-tight);
}
.c-noticeboard-card__body > *:last-child {
  margin-bottom: 0;
}
.c-noticeboard-card__page-link {
  display: inline-block;
  width: 100%;
  color: var(--col-accent);
}
.c-noticeboard-card__image {
  width: 100%;
}

.c-noticeboard-event-card {
  display: grid;
  gap: var(--gutter-width);
  padding: var(--gutter-width);
  background-color: var(--col-bg-sec);
}
.c-noticeboard-event-card__image-wrapper {
  background-color: black;
  width: 100%;
  padding-top: 100%;
  position: relative;
}
.c-noticeboard-event-card__image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  object-fit: cover;
}
.c-noticeboard-event-card__information > * {
  margin-bottom: var(--spacing-regular);
}
.c-noticeboard-event-card__information > *:last-child {
  margin-bottom: 0;
}
.c-noticeboard-event-card__heading {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
}
.c-noticeboard-event-card__description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-line-clamp: 6;
}
@media only screen and (min-width: 672px) {
  .c-noticeboard-event-card__description {
    -webkit-line-clamp: 4;
  }
}
@media only screen and (min-width: 708px) {
  .c-noticeboard-event-card__description {
    -webkit-line-clamp: 5;
  }
}
@media only screen and (min-width: 744px) {
  .c-noticeboard-event-card__description {
    -webkit-line-clamp: 6;
  }
}
@media only screen and (min-width: 780px) {
  .c-noticeboard-event-card__description {
    -webkit-line-clamp: 7;
  }
}
@media only screen and (min-width: 816px) {
  .c-noticeboard-event-card__description {
    -webkit-line-clamp: 8;
  }
}
@media only screen and (min-width: 852px) {
  .c-noticeboard-event-card__description {
    -webkit-line-clamp: 9;
  }
}
@media only screen and (min-width: 888px) {
  .c-noticeboard-event-card__description {
    -webkit-line-clamp: 10;
  }
}
@media only screen and (min-width: 924px) {
  .c-noticeboard-event-card__description {
    -webkit-line-clamp: 11;
  }
}
.c-noticeboard-event-card__facebook-link {
  display: inline-block;
  width: 100%;
  color: var(--col-accent);
}

.c-noticeboard-gallery-card {
  background-color: var(--col-bg-sec);
  width: 100%;
  padding-top: 75%;
  position: relative;
}
.c-noticeboard-gallery-card__image {
  padding: var(--gutter-width);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
}

.js-masonry-grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
@media only screen and (min-width: 600px) {
  .js-masonry-grid > * {
    margin-right: var(--spacing-loose);
  }
  .js-masonry-grid > *:last-child {
    margin-right: 0;
  }
}
.js-masonry-grid__column {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  box-sizing: border-box;
  width: 50%;
}
.js-masonry-grid__column > * {
  margin-bottom: var(--spacing-loose);
}
.js-masonry-grid__column > *:last-child {
  margin-bottom: 0;
}
.js-masonry-grid__column--2 {
  display: none;
}
@media only screen and (min-width: 600px) {
  .js-masonry-grid__column--2 {
    display: block;
  }
}

.u-scroll-hider {
  overflow-y: hidden;
  transition: max-height 0.25s, margin 0.25s;
}

.u-hidden {
  display: none;
}

.u-hidden--accessible {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  opacity: 0;
}

.u-prevent-scroll {
  overflow-y: hidden;
}

/*# sourceMappingURL=stylesheet.css.map */
