// Colours
$primary-background: #343240;
$primary-text-contrast: rgba(255,255,255,1);
$primary-text-default: rgba(255,255,255,0.87);
$primary-text-light: rgba(255,255,255,0.6);
$primary-text-faded: rgba(255,255,255,0.38);

$secondary-background: #FFFFFF;
$secondary-text-contrast: rgba(0,0,0,1);
$secondary-text-default: rgba(0,0,0,0.87);
$secondary-text-light: rgba(0,0,0,0.6);
$secondary-text-faded: rgba(0,0,0,0.38);

$tertiary-background: #000000;
$tertiary-text-contrast: rgba(255,255,255,1);
$tertiary-text-default: rgba(255,255,255,0.87);
$tertiary-text-light: rgba(255,255,255,0.6);
$tertiary-text-faded: rgba(255,255,255,0.38);

$accent-color: #3987B3;
$warning-color: #D96704;