.js-masonry-grid {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	
	@media only screen and (min-width: 600px) {
		@include lf-spacing-horizontal(var(--spacing-loose));
	}
	
	&__column {
		-webkit-box-flex: 1;
		-webkit-flex-grow: 1;
		-ms-flex-positive: 1;
		flex-grow: 1;

		@include lf-spacing-vertical(var(--spacing-loose));
		box-sizing: border-box;
		width: 50%;

		&--2 {
			display: none;

			@media only screen and (min-width: 600px) {
				display: block;
			}
		}
	}
}