.js-page-loader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 99;
	background-color: var(--col-bg-pri);
	opacity: 1;
	pointer-events: none;
	transition: opacity 0.25s ease-in-out;

	&--loaded {
		opacity: 0;
	}
}